.godot/
/android/
**/*.apk*
**/*csproj.old*
.vscode/
*.editorconfig
export_presets.cfg
release.keystore
**/*.tmp
**/*.temp
**/*.log
**/*.DS_Store
**/desktop.ini
export

# Fastlane
fastlane/play-store-key.json
fastlane/report.xml
fastlane/README.md
release-notes.md
vendor/bundle
.bundle/

# .NET build artifacts
**/bin/
**/obj/

# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.nav
*.snm
*.vrb